.inter-normal> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.raleway-normal> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* head style */
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}
.web-name{
    color: #4E47FF; 
    font-size: 34px;
}

.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.headline{
    text-align: center;
    padding: 0 0 152px 0px;
}

.title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: 309px;
}

/* action section style */
.action-section{
    display: flex;
    gap: 760px;
    margin: 116px 150px; 
    align-items: center;
    justify-content: center;
}

.left-side{
    padding: 62.5px 0; 
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-subtile{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

img{
    border-radius: 48px;
}

/* productive users style */

.productive-users-section{
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 142px;
  margin: 0px 159px 137px 141px;
}


.centered-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.data-head{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin: 0 158px;
}

.data-bottom{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 158px;
}

.data{
    display: flex;
}

/* users feedback section */

.users-feedback-section{
    margin: 0px 250px 137px 400px;
}


.reviewer-image-name{
    display: flex;
    align-items: center;
    gap: 12px;
}

.users-section{
    display: flex;
    gap: 20px;
}

.user-1{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    stroke: #F2EDED;
}

.star-icon{
    padding: 24px 226px 24px 24px;
}
.title-subtile{
    padding: 0px 24px 24px 24px;
}

.reviewer-image-name{
    padding: 0 24px 24px 24px;
}

/* get-in-touch-section */

label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500px;
    color: #000000;
}

input{
    padding: 20px 32px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 70px;
    width: 497px; 
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

textarea{
    padding: 20px 32px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 135px;
    width: 497px;
    font-size: 20px;
    stroke: #000000;
    box-shadow: 0px 4px 4px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
}

.touch-button{
    padding: 19px 101px;
    width: 520px;   
}

.get-in-touch-section{
    display: flex;
    gap: 115px;
    background-color: rgba(78, 71, 255, 0.07);
    /*margin: 0px 50px 5px 400px; */
    justify-content: center;
}

.touch-title{
    font-size: 97px;
    font-weight: bold;
    padding: 129px 115px 129px 0px;
}

.get-in-with-button{
    padding: 71px 0px 71px 0px;
}

form{
    margin-bottom: 19px;
}

.email-label{
    margin-bottom: 19px;
}

.name-label{
    margin-bottom: 19px;
}

/* footer-section */

footer{
    background-color: #FFFFFF;
}

.logo-footer{
    margin: 104px 455px 103px 454px;
}

.logo{
    font-size: 100px;
    font-weight: 900px;
    color: rgba(78, 71, 255, 1);
    text-align: center;
    margin-bottom: 8px;
}

.list{
    display: flex;
    color: rgba(137, 135, 161, 1);
    gap: 48px;
    justify-content: center;
}



.logo-subtitle{
    text-align: center;
    color: rgba(137, 135, 161, 1);
}

.btn-primary:hover{
  background-color: rgb(163, 161, 29);
}



